td {
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

.test {
  margin: 0 auto;
}

.button-container {
  text-align: center;
  margin: 20px;
}

.counter-container {
  text-align: center;
  margin: 20px;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

.viz {
  text-align: center;
  margin: 20px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
